/* GLOBAL */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#main-header {
    color: #FFFFFF;
    background-color: #595b5b;
}

header #tabs {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

#main-header img {
	margin-top: 15px;
	margin-bottom: 10px;
}

#main-header h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.header-button {
	margin-top: 18px;
	margin-bottom: 10px;
}

#feedback-filters {
	margin-bottom: 15px;
}

#feedback-filters label {
	margin-right: 3px;
}

#feedback-filters .row {
	margin-bottom: 5px;
	margin-left: 10px;
}

#tabs a {
	font-size: 18px;
}

#filter-group span {
	font-size: 12px;
}

.filter-group-selected {
	color: #2a6496;
}

.form.readonly {
	padding-top: 7px;
	padding-left: 29px;
}

.css-form input.ng-invalid.ng-dirty {
	background-color: #d2322d;
}

/* singletons */

.fivepx-bottom {
	margin-bottom: 5px;
}

.thirtypx-bottom {
	margin-bottom: 30px;
}