/* GLOBAL */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#main-header {
    color: #FFFFFF;
    background-color: #563d7c;
}

header #tabs {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

table {
    display: table;
    border-collapse: collapse;
    width: 80%;
    border-spacing: 2px;
    border-color: gray;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr:nth-child(odd) {
    background-color: #F6F4F0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #555555;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

td {
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}
