/* GLOBAL */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#main-header {
    color: #FFFFFF;
    background-color: #563d7c;
}

header #tabs {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

#main-header img {
	margin-top: 15px;
	margin-bottom: 10px;
}

#main-header h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.header-button {
	margin-top: 18px;
	margin-bottom: 10px;
}

