<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Feedback for {{person.firstName}} {{person.lastName}}</h1>
    </div>
</div>
<div class="center">
    <form novalidate>
        <div class="left half">
            <p>Date:</p>
            <p>Feedback Type:</p>
            <p>Category:</p>
            <p>Notes:</p>
        </div>
        <div class="right half">
            <p><datepicker ng-model="fb.date" date-format="MM/dd/yyyy" disable-timepicker="true" required></datepicker></p>
            <p><select class="topcoat-text-input" ng-model="fb.feedbackType" ng-options="f.name for f in feedbackTypes" required></select></p>
            <p>Category: <select class="topcoat-text-input" ng-model="fb.category" ng-options="c as c.name for c in categories" required></select></p>
            <p>Notes: <textarea class="topcoat-textarea" placeholder="Feedback notes..." rows="6" cols="50" ng-model="fb.text" ></textarea></p>
        </div>
        <p>
            <button class="topcoat-button" ng-click="reset()" ng-disabled="isUnchanged(fb)">RESET</button>
            <button class="topcoat-button" ng-click="save(fb)" ng-disabled="isUnchanged(fb)">SAVE</button>
        </p>
    </form>
</div>