<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3 ng-if="fb.id > 0">Edit your feedback for {{fb.person.firstName}} {{fb.person.lastName}}...</h3>
            <h3 ng-if="fb.id < 1">Give feedback...</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-2 bottom">
            <a href="#" ng-click="returnToList()" class="btn btn-link header-button bottom" role="button">Back to feedback list</a>
        </div>
    </div>
    <div id="feedback-form-div" class="container">
        <form id="feedback-form" class="form-horizontal" role="form" novalidate>
            <div ng-if="fb.id < 1" class="form-group">
                <label for="feedbackPerson" class="col-sm-2 control-label">Person</label>
                <div class="col-sm-8">
                    <select id="feedbackPerson" class="form-control" ng-model="fb.person" ng-options="p.firstName + ' ' + p.lastName for p in people" required></select>
                </div>
            </div>            
            <div class="form-group">
                <label for="feedbackGiven" class="col-sm-2 control-label">Given?</label>
                <div class="col-sm-1 form readonly">{{fb.given | yesNoFilter}}</div>
                <div ng-if="fb.id > 0 && fb.given === false"  class="col-sm-9 bottom">
                    <button ng-click="gaveFeedback()" class="btn btn-success btn-sm">Gave it!</button>
                </div>
            </div>            
            <div class="form-group">
                <label for="feedbackDate" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-8">
                    <p class="input-group">
                      <input id="feedbackDate" type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="fb.date" is-open="opened" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="feedbackType" class="col-sm-2 control-label">Feedback Type</label>
                <div class="col-sm-8">
                    <select id="feedbackType" class="form-control" ng-model="fb.feedbackType" ng-options="f.name for f in feedbackTypes" required></select>
                </div>
            </div>
            <div class="form-group">
                <label for="feedbackCategory" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-8">
                    <select id="feedbackCategory" class="form-control" ng-model="fb.category" ng-options="c.name for c in categories" required></select>
                </div>
            </div>
            <div class="form-group">
                <label for="feedbackNotes" class="col-sm-2 control-label">Notes</label>
                <div class="col-sm-8">
                    <textarea id="feedbackNotes" class="form-control" placeholder="Feedback notes..." rows="6" ng-model="fb.text" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-8">
                    <!-- <button class="btn btn-warning" ng-click="reset()" ng-disabled="isUnchanged(fb)">Reset</button> -->
                    <button class="btn btn-primary" ng-click="save(fb)" ng-disabled="isUnchanged(fb)">Save</button>
                    <button ng-if="fb.id > 0" class="btn btn-danger" ng-click="delete(fb)">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>