<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Feedback for your people...</h3>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default btn-sm header-button" ng-click="open()">New Feedback</button>
        </div>
    </div>    
    <div class="table-responsive">
        
        <div class="form-group">
            <label for="searchBox">Limit by:</label><input id="searchBox" type="text" ng-model="search.$" />
        </div>  
           
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="fb in feedback | filter:query | orderBy:'-date' | filter: search">
                    <td>
                        {{fb.person.firstName}} {{fb.person.lastName}}
                    </td>
                    <td>
                        {{fb.feedbackType.name}}
                    </td>
                    <td>
                        {{fb.category.name}}
                    </td>
                    <td>
                        {{fb.text}}
                    </td>
                    <td>
                        {{fb.date | date:'M/d/yyyy'}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="edit(fb.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>