<div class="container">
	<h3>Feedback for your people...</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="fb in feedback | filter:query | orderBy:orderProp">
                    <td>
                        {{fb.person.firstName}} {{fb.person.lastName}}
                    </td>
                    <td>
                        {{fb.feedbackType.name}}
                    </td>
                    <td>
                        {{fb.category.name}}
                    </td>
                    <td>
                        {{fb.text}}
                    </td>
                    <td>
                        {{fb.date | date:'shortDate'}}
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="edit(fb.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>